In [1]:
# dylan's work
from scipy.io import arff
from IPython.display import display
import os, sys
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
def arff2df (paths):    
    data_array = []    
    for i in range(len(paths)):
        data_array.append((paths[i] ,pd.DataFrame(arff.loadarff(paths[i])[0])))   
        
    return data_array
        
def get_filenames (path):
    dirs = os.listdir(path)
    dirs.sort()
    
    dirs_array = []
    for i in range(len(dirs)):
        dirs_array.append(path + dirs[i])
        
    return dirs_array

In [3]:
# importing data to pandas dataframe
path = "data/"
paths = get_filenames(path)
df_years = arff2df(paths) #array of tuples (pathname, dataframe) representing year1 to year5

for i in range(len(df_years)):
    # changing y to 0 & 1 
    df_years[i][1]["class"] = df_years[i][1]["class"].astype("category").cat.codes
    # adding another column for year
    df_years[i][1]["year"] = i + 1
    # printing values 
    print("Path: {0}, Shape: {1}, Bankrupt: {2}, Not Bunkrupt: {3}".format(df_years[i][0], df_years[i][1].shape
                                                            ,((df_years[i][1]["class"] == 1).sum())
                                                            ,((df_years[i][1]["class"] == 0).sum())))
    
# append dataframes 
df_bankruptcy = pd.concat([i[1] for i in df_years], axis=0)

# print to check concat corresponds to the imported data
for i in range(len(df_years)):
    print("Year:{0} Total:{1}".format(i + 1 , (df_bankruptcy["year"] == i + 1).sum()))
print("Total instances in dataframe:" , df_bankruptcy.shape[0])

display(df_bankruptcy.head())

Path: data/1year.arff, Shape: (7027, 66), Bankrupt: 271, Not Bunkrupt: 6756
Path: data/2year.arff, Shape: (10173, 66), Bankrupt: 400, Not Bunkrupt: 9773
Path: data/3year.arff, Shape: (10503, 66), Bankrupt: 495, Not Bunkrupt: 10008
Path: data/4year.arff, Shape: (9792, 66), Bankrupt: 515, Not Bunkrupt: 9277
Path: data/5year.arff, Shape: (5910, 66), Bankrupt: 410, Not Bunkrupt: 5500
Year:1 Total:7027
Year:2 Total:10173
Year:3 Total:10503
Year:4 Total:9792
Year:5 Total:5910
Total instances in dataframe: 43405

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class,year
0,0.200550,0.37951,0.39641,2.0472,32.3510,0.38825,0.249760,1.33050,1.1389,0.50494,...,0.39718,0.87804,0.001924,8.4160,5.1372,82.658,4.4158,7.4277,0,1
1,0.209120,0.49988,0.47225,1.9447,14.7860,0.00000,0.258340,0.99601,1.6996,0.49788,...,0.42002,0.85300,0.000000,4.1486,3.2732,107.350,3.4000,60.9870,0,1
2,0.248660,0.69592,0.26713,1.5548,-1.1523,0.00000,0.309060,0.43695,1.3090,0.30408,...,0.81774,0.76599,0.694840,4.9909,3.9510,134.270,2.7185,5.2078,0,1
3,0.081483,0.30734,0.45879,2.4928,51.9520,0.14988,0.092704,1.86610,1.0571,0.57353,...,0.14207,0.94598,0.000000,4.5746,3.6147,86.435,4.2228,5.5497,0,1
4,0.187320,0.61323,0.22960,1.4063,-7.3128,0.18732,0.187320,0.63070,1.1559,0.38677,...,0.48431,0.86515,0.124440,6.3985,4.3158,127.210,2.8692,7.8980,0,1

In [4]:
# checking for missing values 
# TODO -> HANDLE MISSING DATA 
display(df_bankruptcy.isnull().sum())
#df_bankruptcy = df_bankruptcy.dropna()
#print(df_bankruptcy.shape[0])

Attr1         8
Attr2         8
Attr3         8
Attr4       134
Attr5        89
Attr6         8
Attr7         8
Attr8        94
Attr9         9
Attr10        8
Attr11       44
Attr12      134
Attr13      127
Attr14        8
Attr15       36
Attr16       95
Attr17       94
Attr18        8
Attr19      128
Attr20      127
Attr21     5854
Attr22        8
Attr23      127
Attr24      922
Attr25        8
Attr26       95
Attr27     2764
Attr28      812
Attr29        8
Attr30      127
          ...
Attr37    18984
Attr38        8
Attr39      127
Attr40      134
Attr41      754
Attr42      127
Attr43      127
Attr44      127
Attr45     2147
Attr46      135
Attr47      297
Attr48        9
Attr49      127
Attr50       94
Attr51        8
Attr52      301
Attr53      812
Attr54      812
Attr55        1
Attr56      127
Attr57        7
Attr58       84
Attr59        7
Attr60     2152
Attr61      102
Attr62      127
Attr63      134
Attr64      812
class         0
year          0
Length: 66, dtype: int64

In [38]:
# # re-scaling and normalization 

# # checking ranges for different features 
# pd.set_option("display.max_rows", df_bankruptcy.shape[1])
# df_bankruptcy_describe = df_bankruptcy.describe().T
# #display(df_bankruptcy_desc) # displaying describe for all years 

# for i in range(len(df_years)):
#     print("Year:", i + 1)
#     display((df_bankruptcy.loc[df_bankruptcy["year"] == i + 1]).describe().T)

df_bankruptcy = df_bankruptcy.dropna()
#sns.distplot(np.log(df_bankruptcy["Attr13"]));

In [6]:
# # showing distribution of each feature 
# df_bankruptcy = df_bankruptcy.dropna()
# print(df_bankruptcy.shape)

# #df_bankruptcy["Attr1"] = ((df_bankruptcy["Attr1"] - np.mean(df_bankruptcy["Attr1"])) * np.std(df_bankruptcy["Attr1"]))

# display(df_bankruptcy["Attr1"].head())
# ax = df_bankruptcy["Attr1"].plot.kde()